.ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between; 
    padding: 0;
    margin: 0;
    width: auto;
    z-index: 2;
    li {
      background: white;
      display: flex;
      &:first-of-type {
        background: transparent;
        a {
          width: clamp(60px,auto,200px);
          text-align: left;
          font-size: clamp(0.2rem,1.4vw,1rem);
        }
      }
      a {
      //margin: 3px 25px 3px;
      color: rgb(162, 182, 199);
      padding: 0.25rem;
      width: clamp(30px,6vw,120px);
      text-align: center;
      display: block;
      transition: background-color .3s ease;
      max-height: 2rem;
      &:hover {
        background-color: #9ecde0;
        color: white;
      }
      &.active, &:active {
        background-color: #ADD8EA;
        color:white;
      }
      }
    }
  }

  .footer {
    z-index: 3;
    position: relative;
    margin-top:50px;
    margin-bottom:50px;
    a {
      //margin: 3px 25px 3px;
      color: rgb(162, 182, 199);
      text-align: center;
      padding: 0.25rem;
      transition: all .3s ease;
      &:hover {
        background-color: #ADD8EA;
        color: white;
      }
      &:active  {
        background-color: #9ecde0;
        color:white;
      }

      }

  }
  
