.ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style-type: none;
    justify-content: space-between; 
    padding: 0 2rem 4rem;
    margin: 0;
    position: relative;
    z-index: 2;
    li {
      background: white;
      display: flex;
      a {
      //margin: 3px 25px 3px;
      color: rgb(162, 182, 199);
      padding: 0.25rem;
      width: clamp(4vw,1vw,8vw);
      text-align: center;
      display: block;
      transition: all .3s ease;
      &:hover {
        background-color: #c1d3da;
        color: white;
      }
      &.active {
        background-color: #ADD8EA;
        color:white;
      }
      }
    }
  }

  .footer {
    z-index: 3;
    position: relative;
    margin-top:50px;
    margin-bottom:50px;
    a {
      //margin: 3px 25px 3px;
      color: rgb(162, 182, 199);
      text-align: center;
      padding: 0.25rem;
      transition: all .3s ease;
      &:hover {
        background-color: #c1d3da;
        color: white;
      }

      }

  }
  
